/* 1. Colors and fonts */

body {
  background: #F7F9FC; /* Light gray background */
  color: #575F7D;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}
 
h1 {
  color: #575F7D;
  font-size: 32px;
  font-weight: 900;
}

h2 {
  color: #575F7D;
  font-size: 20px;
  font-weight: 800;
}

/* Base style for all links */
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #6B72E1; /* A shade of blue/purple */
  font-weight: 600;
  font-size: 16px;
}

/* Link hover effect */
a:hover {
  color: black;
}

/* 2. Custom design with class */

.container {
  width: 700px;
  margin: 40px auto; /* Centers the container horizontally */
}

.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.img-circle {
  border-radius: 50%;
}

/* Blue Button styles */
.btn-blue {
  background-color: #6B72E1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}

/* Blue Button hover effect */
.btn-blue:hover {
  background-color: black;
  color: white;
}

/* Social Media List styles */
.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}

.list-inline i {
  font-size: 50px;
  color: #575F7D; /* <-- 改成一个深色 */
}
.list-inline i:hover {
  color: black;
}
